<form action="/cart" method="POST">
    <button class="btn" type="submit">Ajouter au panier</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
    <!-- encodée dans la dmd qui lui est envoyée. Entrée cachée qui garde les données -->
</form>