<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="PWA Workshop" />
    <meta name="apple-mobile-web-app-title" content="PWA Workshop" />
    <meta name="theme-color" content="black" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- PWA -->
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-tuch-icon" href="/icons/logo-192.png">
    