<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Une erreur s'est produite</h1>
    <p>Nous travaillons à la résoudre.
        <br>Veuillez nous excuser pour la gêne occasionnée!
    </p>

<%- include('includes/end.ejs') %>